<div class="card bg-sub-bg text-sub">
  <div class="card-header">
    <img src="assets/images/user.webp" class="user-img rounded-5" alt="user-img">
    <strong class="ms-3">user name</strong>
  </div>
  <div class="card-body">

    <p class="card-text">
      Chat Area
    </p>
    <div class="card-footer text-body-secondary">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
      />
    </div>
  </div>
</div>
