@if (userToChat.username) {
<div class="card bg-sub-bg ">
  <div class="card-header">
    <img
      src="assets/images/user.webp"
      class="user-img rounded-5"
      alt="user-img"
    />
    <strong class="ms-3 text-sub">{{ userToChat.username }}</strong>
  </div>
  <div class="card-body chat-body overflow-scroll" #chatBody>
    @for (message of messages; track $index) { @if
    (message.receiver === currentUser._id) {
    <div class="mt-2">
      <img src="assets/images/user.webp" class="user-img rounded-5" alt="" />
      <p class="d-inline-block ms-1 card-text mb-0 lead fw-bold">{{ message.text }}</p>
      <!-- <small class="text-muted">time</small> -->
    </div>
    }@else {
    <div class="text-end mt-2">
      <p class="d-inline-block me-1 card-text mb-0 lead fw-bold text-sub">{{ message.text }}</p>
      <img src="assets/images/user.webp" class="user-img rounded-5" alt="" />
    </div>
    } }@empty {
    <h1 class="text-center text-sub-bg text-capitalize mt-5">no messages yet</h1>
    }
  </div>
  <div class="card-footer text-body-secondary">
    <form (ngSubmit)="sendMessage()">
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder=""
        [(ngModel)]="message"
        [ngModelOptions]="{ standalone: true }"
      />
      <button class="btn btn-main mt-2 text-end" [disabled]="!message">
        Send
      </button>
    </form>
  </div>
</div>

}@else {
  <h1 class="text-center text-sub-bg text-capitalize mt-5">select a user to chat</h1>
}
