<div class="row">
  <div class="col-auto p-0 d-none d-sm-block">
    <app-sidebar [name]="user.username"  (user)="chatWithUser($event)"></app-sidebar>
  </div>
  <div class="col bg-main-bg text-main vh-100 w-100 ps-1">
    <!-- switch theme -->
    <div class="d-flex justify-content-between pe-2 mt-3">
      <div class="mt-1">
        <button class="btn btn-main" (click)="logout()">logout</button>
      </div>
      <div class="form-check form-switch mt-2">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          (click)="switchTheme()"
        />
        <label
          class="form-check-label text-capitalize"
          for="flexSwitchCheckDefault"
          >{{ darkMode ? "disable" : "enable" }} dark mode</label
        >
      </div>
    </div>
    <!-- end switch theme -->
    <div class="p-2">
      @defer (on viewport) {
      <app-chat [userToChat]="userToChat"></app-chat>
      } @placeholder {
      <p>chat</p>
      }
    </div>
  </div>
</div>
